<%-include('include/header.ejs')%>

<main class="main">
  <h1 style="width: 100%;text-align: center;color: red;">Add Recipe of your choice</h1>
  <form class="addrecipe">
     <section>
        <label>Recipe Name</label>
        <input type="text" name="recipe">
     </section>
     <section>
      <label>Recipe Type</label>
         <select>
            <option>Breakfast</option>
            <option>Snack</option>
            <option>Lunch</option>
            <option>Dinner</option>
         </select>
     </section>
     <section>
      <label>Recipe Origin</label>
      <select>
         <option>Continental</option>
         <option>Vegetarian</option>
         <option>Non-Veg</option>
         <option>Thai</option>
      </select>
     </section>
     <section>
      <label>Ingrediant</label>
      <input type="text" name="recipe">
   </section>
   <section>
      <label>Upload Recipe Image</label>
      <input type="file" name="recipe" accept="img**">
   </section>
   <button type="submit" class="submitrecipe">List Recipe</button>
  </form>
</main> 
</div>

</body>
</html>