<%-include('include/header.ejs')%>

<main class="main">
   <input type="text" name="search" class="search" placeholder="search">

   <div class="allrecipes">
      <div class="recipe">
         <img src="/static/uploads/1732950729732-937332805.jpg" width="150" height="150">
         <label>Recipe Name</label>
      </div>
   </div>
</main> 

<%-include('include/footer.ejs')%>