<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <link href="/static/css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="fullpage">
    <section class="sidebar">
        <h2 style="margin-top: 20px;"><a href="/">All Recipes</a></h2>
        <hr/>
        <h2><a href="/addrecipe">Add Recipe</a></h2>
        <hr/>
        <h2><a href="/deleterecipe">Delete Recipe</a></h2>
        <hr/>
    </section>
    
