<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <link href="/static/css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="fullpage">
    <section class="sidebar">
        <h2>All Recipes</h2>
        <h2>Add Recipe</h2>
        <h2>Delete Recipe</h2>
    </section>
    
