*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.fullpage
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.fullpage .sidebar
{
    width: 20%;
    background-color:red;
    height: 100%;
    color: white;
    text-align: center;
}
.fullpage .sidebar hr
{
    color: white;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
}
.fullpage .sidebar a
{
    color: white;
    text-decoration: none;
}
.fullpage .main
{
    width: 80%;
    height: 100%;
}
.fullpage .search
{
    border-radius: 5px;
    width: 95%;
    background-color: rgba(214, 214, 214, 0.481);
    height: 30px;
    border: none;
    text-indent: 10px;
    margin-left: 20px;
    margin-top: 5px;
}
#addrecipe,#editrecipe
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 30px;
}
#addrecipe section,#editrecipe section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:450px;
    margin-top: 30px;
}
#addrecipe section input::placeholder,#editrecipe section input::placeholder
{
    color: red;
}
.submitrecipe
{
    width: 250px;
    background-color: red;
    color: white;
    margin-top: 30px;
    padding: 15px;
    font-weight: 600;
}
.allrecipes
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  
}
.allrecipes img
{
    margin-left: 40px;
    margin-top: 40px;
}
.allrecipes .recipe
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 300px;
    border: 1px solid grey;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
   
}
.deleteicon
{
    position: absolute;
    top: -30px;
    right: 5px;
}
.message
{
    color: red;
}